<!DOCTYPE html>
<html>
<head>
  <title>SoAuthProvider</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= render 'layouts/header' %>

  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %> flash <%= key %>"><%= value %></div>
  <% end %>

  <%= yield %>
  <br/>
  You might be interested in the super secret content at the 
  <%= link_to "So Auth Client Site", ENV['SO_AUTH_CLIENT_URL'] %>
</body>
</html>
